.service_header{
    text-align: center;
    margin: 3rem 0;
}

.service_container{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.service_container_1{
    width: 17%;
    cursor: pointer;
}

.service_container_1 h4{
    text-align: center;
    padding: 20px 30px;
    /* border: 2px solid red; */
    border-radius: 5px 5px 0 0 ;
    font-size: 40px;
    background: black;
    /* border-radius: 100%; */
    margin-bottom: 5%;
    cursor: pointer;
    box-shadow: var(--bs);

}

.service_container_1 h4 a{
    text-decoration: none;
    color: var(--clr-accent);
}


.service_container_1 p{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 10%;
    /* border: 1px solid red; */
    font-weight: 600;
    box-shadow: var(--bs);
}
