*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    /* scroll-margin-top: 7em; */
    scroll-behavior: smooth;
    
    /* padding: 10px; */
}

/* Custom properties */

:root{
    --ff-primary: 'Crimson Pro' sans-serif;
    --ff-secondary: 'Crimson Pro' monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    /* --fs-h1: 2rem; */
    /* --fs-h2: 2.25rem; */
    /* --fs-h3: 1.25rem; */
    /* --fs-body: 1rem; */

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.20rem;
    }
}

/* GEneral styles */

html{
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

section{
    padding-top: 10em;
    /* border: 1px solid red; */
}

@media (max-width: 900px) {
    section{
        padding-top: 6em;
        /* border: 1px solid red; */
    }
}

img {
    display: block;
    max-width: 100%;
}

strong{font-weight: var(--fw-bold);}

:focus{
    /* outline: 3px solid var(--clr-accent); */
    outline: none;
    outline-offset: 3px;
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
/* h2{font-size: var(--fs-h2);} */
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
}

.section__title--work{
    color: var(--clr-accent);
}

.section__title--intro{
    font-weight: var(--fw-reg);
    font-size: 35px;
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.nav_container_whole {
    /* border: 1px solid red; */
    height: 3em; 
    position: fixed;
    width: 100%;
    background: rgba(245, 244, 244, 0.938);
    z-index: 100;
}
.nav_container_whole ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0 auto;
    margin-top: 15px;
}
.nav_item {
    /* border: 1px solid blue; */
    width: fit-content;
    text-align: center;
    margin: 0 .5em;
    font-size: 16px;
    padding: 0 .3em;
    /* font-weight: bold; */
}
.nav_item:hover{
    transition: 300ms;
    box-shadow: var(--bs);
    border-radius: 2px;
}
.nav_item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--ff-primary);
    color: rgb(4, 24, 41);
}



/* Intro Section */

.intro {
    position: relative;
    /* border: 1px solid red; */
    /* padding: 0 1em; */
    padding-left: 1em;
    padding-right: 1em;
}


.intro__img{
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display: inline-block;
}

@media (max-width: 600px){
    .about--me__img{
        display: none;
    }
    .intro__img {
        width: 30%;
    }
    .section__subtitle--intro{
        font-size: 17px;
    }
    .section__title--intro {
        font-size: 30px;
    }

}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img{
        grid-area: img;
        min-width: 200px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        /* left: -1.5em; */
        width: 100%;
    }

}

/* My Services section */
.my-services{
    /* background: var(--clr-accent); */  /*!!! CHANGE THE SETTINGS OF GREEN BG */
    /* background-image: url(/images/bg\ img.jpg); */
    background-blend-mode: multiply;
    background-size: cover;
    color: var(--clr-dark);
}
#services_id{
    margin-top: 4%;
    padding: 6em 0;
    padding-top: 2em;
    /* border: 1px solid red; */
    
}
#services_id h2{
    /* text-align: center; */
    /* border: 1px solid red; */
    width: fit-content;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: .5em;
    /* color: var(--clr-accent); */
}

.services {
    
 
}


.service {
    width: 16em;
    height: 17em;
    box-shadow: var(--bs);
}

/* !! */
.services  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    width: fit-content;
    margin: 0 auto;
    /* border: 1px solid red; */
}
  
@media only screen and (max-width: 1200px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
        /* border: 1px solid red; */
    }
}
  
@media only screen and (max-width: 600px) {
    .services  {
      grid-template-columns: 1fr;
    }
}
 
/* !! */


.service_head {
    /* border: 1px solid purple; */
    /* margin: 5px; */
    margin-top: 1.5em;
    display: flex;
    justify-content: center;

}
.service_logo {
    width: 8%;
}
.service_logo img {
    width: 100%;
}
.service_head h3 {
    /* border: 1px solid red; */
    font-size: 17px;
    align-self: center;
    margin-left: 5px;
}
.service_body{
    /* border: 1px solid purple; */
    text-align: justify;
    width: 85%;
    height: 10em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 13px;
}
.service_link {
    /* border: 1px solid red; */
    width: 100%;
    display: flex; 
    justify-content: center;
}
.service_link img {
    width: 15px;
    margin-right: 2px;
}
.service_link p a {
    text-decoration: none;
    font-size: 13px;
}


.my_skills button{
    padding: 10px 10px;
    background: var(--clr-accent);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 3%;
    cursor: pointer;
    transition: .7s;
}
.my_skills button:hover{
    background: #7ff3e0;
}

.my_skills button a{
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: bold;
}




/* About me */
#about {
    /* padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em; */
    padding: 2em 1em;
    /* border: 1px solid red; */
}
.about__me {
    width: fit-content;
    margin: 0 auto;
    /* border: 1px solid blue; */
}
.section__title--about {
    color: black;
    font-size: 35px;
}


@media (min-width: 600px) {
    /* .about__me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    } */

    .section__title--about {
        grid-area: title;

    }
    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        /* left: -1em; */
        width: 100%;
        /* padding-left: 1em; */
        /* padding-right: calc(200px + 4em); */
    }

    .about--me__img {
        grid-area: img;
        /* position: relative; */
        z-index: 2;
        display: none;
    }
}

/* !! */
.about_me_container_whole  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    justify-items: center;
    align-items: center;
    /* border: 1px solid red; */
}
  
@media only screen and (max-width: 1200px) {
    .about_me_container_whole {
        grid-template-columns: repeat(2, 1fr);
        /* border: 1px solid red; */
    }
}
  
@media only screen and (max-width: 600px) {
    .about_me_container_whole  {
      grid-template-columns: 1fr;
    }
}
  
/* !! */
.about_me_container {
    width: 16em;
    height: 27em;
    /* border: 1px solid red; */
}
.profile_pic{
    /* margin-top: 3em; */
    /* border: 1px solid red; */
    margin-top: 2em;
}
.profile_icon {
    width: 10%;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.profile_pic{
    width: 100%;
}
.about_text h3{
    text-align: center;
    /* border: 1px solid red; */
    margin: .3em 0;
    font-size: 17px;
}
.underline {
    width: 10%;
    height: 2px;
    border: 1px solid red;
    margin: 0 auto;
    margin-bottom: 1em;
}
.about_text p {
    font-size: 13px;
    font-weight: 200;
    text-align: justify;
    /* border: 1px solid blue; */
    width: 85%;
    margin: 0 auto;
}
.about_text ul {
    /* border: 1px solid red; */
    font-size: 13px;
    list-style: none;
}
.skills_entire_container {
    /* border: 1px solid red; */
    margin-top: 1em;
    margin-bottom: .2em;
    display: flex;
    justify-content: center;
}
.about_me_skills h3 {
    font-size: 17px;
    text-align: center;
    /* margin-top: 2em; */
    /* margin-bottom: .3em; */
    align-self: flex-end;
    margin-left: .2em;
    /* border: 1px solid red; */
}
.skills_img {
    width: 8%;
    /* margin-top: 1.5em; */
}
.skills_img img {
    width: 100%;
}
.about_me_skills ul {
    font-size: 17px;
    list-style: square;
    /* border: 1px solid red; */
    width: 85%;
    margin: 0 auto;
    /* text-align: center; */
}
.about_me_skills ul li {
    margin-bottom: .5em;
    font-size: 13px;
}
.personal_container {
    background: linear-gradient(to bottom right, #16e0bd, #16e0bead);
    border-top-left-radius: 50px;
    box-shadow: var(--bs);
}
.professional_container {
    box-shadow: var(--bs);
}
.experience_container_whole {
    /* border: 1px solid blue; */
    width: 85%;
    margin: 0 auto;
}
.experience_container {
    /* border: 1px solid red; */
    margin-bottom: 1.5em;
}
.date {
    color: rgba(119, 110, 110, 0.692);
    font-size: 12px;
    font-weight: bold;
}
.experience_loc {
    /* color: blue; */
    font-weight: 500;
    margin-left: 5px;
    font-size: 15px;
}
.experience {
    /* border: 1px solid red; */
    margin-bottom: 1em;
    /* width: 90%; */
    float: right;
}
.experience p {
    font-size: 11px;
    font-style: italic;
}
.experience_links_container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.cv_link {
    /* border: 1px solid blue; */
    margin-top: 1em;
    width: fit-content;
    display: flex; 
    justify-content: center;
}
.cv_link img {
    width: 15px;
    /* border: 1px solid red; */
}
.cv_link a {
    text-decoration: none;
    /* width: 50%; */
    /* border: 1px solid red; */
    align-self: flex-end;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
}

.contact_me_container{
    border-bottom-right-radius: 50px;
    /* border: 1px solid red; */
}
.contact_me_container {
    /* background: linear-gradient(to right, #3494e6, #16e0bd); */
    box-shadow: var(--bs);
}
.contact_item_whole_container {
    /* border: 1px solid red; */
    width: 85%;
    margin: 0 auto;
    margin-top: 4em;
    
}
.contact_item_whole {
    /* border: 1px solid blue; */
    display: flex;
    margin-bottom: 1em;
}
.contact_link_img {
    width: 8%;
    /* border: 1px solid red; */
    align-self: center;
}
.contact_link_img img {
    width: 100%;
}
.contact_item_whole a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 13px;
    /* align-self: center; */
    /* border: 1px solid red; */
}